<div class="container">
	<div class="row">
		<div class="history col-md-6">
			<h1 class="small-title">ブックマーク</h1>


			<% @clips.reverse_each do |clip| %>
				<div class="panel panel-default">
		            <div class="panel-heading">
			            <h5 class="panel-title"><%= link_to clip.novel.title, novel_path(clip.novel.id) %></h5>
			            <div class="writer-name">
			            	<h5><%= link_to clip.user.name, user_path(clip.user.id) %></h5>
			            </div>
			        </div>
		            <div class="panel-body">
		            	<%= clip.novel.synopsis.truncate(30) %>
		            </div>
				</div>
			<% end %>




		</div>
		<div class="col-md-6">
				<%= image_tag('img/sample11_img.jpg', class: 'history-image') %>
			</div>
    </div>
</div>