<header>
        	<div class="container">
			  <div class="row">
			    <h1 class="title">Noovel</h1>
			    <p class="sabtitle">小説を無料で読み放題、<br>投稿し放題のサイトです。<br>会社からのスカウトメッセージを受け取ることも可能です。</p>
			    <p class="rogin">ログイン</p>
			    <p class="signup">会員登録</p>
			  </div>
			</div>
		</header>
		<nav class="navbar">
			<ul class="nav-element">
				<li class="list-item">HOME</li>
				<li class="list-item">ブックマーク</li>
				<li class="list-item">いいねランキング</li>
				<li class="list-item">閲覧履歴</li>
			</ul>
		</nav>