<div class="container">
	<div class="row">
		<div class="side-bar col-md-3">
			<div>運営側お知らせ掲示板</div>
		</div>
		<div class="novels col-md-4 col-md-offset-1">

		<div class="content">
			<!-- eachでいいねランキングを表示 -->
			<div class="novel">小説</div>
			<div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		</div>
		<div class="content">
			<!-- ブックマークランキング -->
			<div class="novel">小説</div>
			<div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		</div>
		<div class="content">
			<!-- ジャンル別ランキング1 -->
			<div class="novel">小説</div>
			<div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		</div>
		<div class="content">
			<!-- ジャンル別ランキング2 -->
			<div class="novel">小説</div>
			<div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		</div>
		<div class="content">
			<!-- ジャンル別ランキング3 -->
			<div class="novel">小説</div>
			<div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		    <div class="novel">小説</div>
		</div>

	    </div>
	    <div class="sidebar col-md-3 col-md-offset-1">
	    	<div>広告掲載スペース</div>
	    </div>
	</div>
</div>